NEXT_PUBLIC_KPAY_ACCOUNT_NAME=Anna AI
NEXT_PUBLIC_KPAY_ACCOUNT_NUMBER=09XXXXXXXXX
NEXT_PUBLIC_KPAY_QR_IMAGE=/payments/kpay-qr.png

NEXT_PUBLIC_QR_PAY_ACCOUNT_NAME=Anna AI
NEXT_PUBLIC_QR_PAY_ACCOUNT_NUMBER=QR Payment
NEXT_PUBLIC_QR_PAY_QR_IMAGE=/payments/qr-pay.png
